body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #FFFFFF;
}

.quem-somos {
    background-color: #FFBF00;
    color: #0000;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #F3E2A9;
}

.bg-footer {
    background-color: #0000;
    color: black;
}